<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
    <body>
        <form action='hello' method='post'>
            <input type='text' name='name'/>
            <select name='language'>
                <option value=''> ~ Languages ~ </option>
                <option value='Chinese'>Chinese</option>
                <option value='Japanese'>Japanese</option>
                <option value='Hindi'>Hindi</option>
                <option value='Italian'>Italian</option>
                <option value='Samoan'>Samoan</option>
            </select>
            <input type='submit' value='Say hey'/>
        </form>
    </body>
</html>